@charset "utf-8";

body {
    width: 100%;
    height: auto;
    font-family: 'Georgia', cursive;
    font-size: 13pt;
    margin: 0px 0px 50px 0px;
}

.logoNevobo {
    opacity: 0.1;
    position: absolute;
    width: 40%;
}

li.nav {
    display: inline;
    float: left;
    height: 80px;
}

li a {
    display: block;
    color: #e68a00;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

li a.teamOverzicht {
    color: #0088cc;
}

li a.spelerOverzicht {
    color: #0088cc;
}

li a.pouleOverzicht {
    color: #0088cc;
}

li a.wedstrijdschema {
    color: #0088cc;
}

a.navLogin {
    text-align: right;
    color: black;
}

li.nav-item{
    align-content: end;
    color: black;
}

li a.login {
    color: black;
}

li.nav:hover {
    background-color: #0088cc;
}

li a:hover {
    color: #00334d;
}

ul.rolesList {
    text-align: center;
    display: block;
    list-style-type: none;
}

li.roles {
    line-height: 1.4;
}

ul {
    color: #00334d;
    font-weight: bolder;
    line-height: 1.8;
    text-align: center;
}

nav {
    background-image:-webkit-linear-gradient(290deg, black, #0088cc);
}

.nav-link {
    color: black;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    height: 80px;
}

h1 {
    font-size: 50px;
    color: #00334d;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 20px 40px 20px 40px;
}

h2 {
    font-size: 25px;
    color: #e68a00;
}

h3 {
    font-size: 23px;
    font-weight: 1.4;
    color: #e68a00;
}

th {
    font-size: 25px;
    color: #e68a00;
    width: 300px;
}

td {
    color: #00334d;
    font-weight: bolder;
    line-height: 1.8;
    width: 300px;
}

tr {
    padding-left: 400px;
    padding-right: 400px;
}

table {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    text-align: center;
}

p {
    text-align: center;
    padding: 12px 0 10px 0;
    margin: 0px 40px 10px 40px;
}

p a {
    background-color: #00334d;
    border-radius: 4px;
    color: #0088cc;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}

p a:hover {
    background-color: #0088cc;
    color: #00334d;
}

.container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 90px;
}

.buttonCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.buttonGenerate {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

btn-navbar:hover {
    background-color: #0088cc;
    color: #00334d;
}

button.btn {
    background-color: #00334d;
    border-radius: 5px;
    color: #0088cc;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}

button.btn:hover {
    background-color: #0088cc;
    color: #00334d;
}

.btn-navbar {
    background-color: #00334d;
    border-radius: 5px;
    color: #0088cc;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}

a.clickableName {
    color: #00334d;
    border: solid 1px;
    padding: 3px 8px;
    border-radius: 4px;
    background-color: #0088cc;
    width: 115px;
}

#gameDetailsTable {
    text-align: left;
    width: 40%;
}

#pouleDetailsTable {
    text-align: left;
    width: 50%;
}

#pouleDetailsGamesTable {
    text-align: left;
    width: 50%;
}

#teamDetailsTable {
    width: 50%;
}

#teamDetailsPlayersTable {
    text-align: left;
}

#playersDetailsTable {
    text-align: left;
    width: 50%;
}

#playerTable {
    text-align: left;
}

#playerDisambiguationTable {
    width: 50%
}

#teamsTable {
    text-align: left;
    width: 75%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image:-webkit-linear-gradient(290deg, #0088cc, black);
    font-weight: bold;
}

p.quote {
    Text-align: right;
    color: #0077b3;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: -4px;
}