<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<html lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Wedstrijd details</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<div class="container">
    <h1><span th:text="${game.homeTeam.teamName} + ' - ' + ${game.visitorTeam.teamName}" /></h1>
    <table>
        <tr>
            <th>Wedstrijdnummer:</th>
            <td th:text="${game.gameId}"> />
        </tr>
        <tr>
            <th>Thuis team</th>
            <td th:text="${game.homeTeam.teamName}"></td>
        </tr>
        <tr>
            <th>Gast team</th>
            <td th:text="${game.visitorTeam.teamName}"></td>
        </tr>
        <tr>
            <th>Start tijd</th>
            <td th:text="${#temporals.format(game.time, 'dd-MMM-yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <th>Locatie</th>
            <td th:text="${game.location}"></td>
        </tr>
        <tr>
            <th>Uitslag Wedstrijd</th>
            <td th:text="${game.gameResult}"></td>
        </tr>
        <tr>
            <th>Winnaar</th>
            <td th:text="${game.result}"></td>
        </tr>
    </table>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/games/details/add/{gameId}(gameId=${game.gameId})}">Voeg wedstrijdgegevens toe</a>
    </div>
</div>
<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>
</body>
</html>