<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" href="/volleybalToernooi.css" />
    <title>Wedstrijd overzicht</title>
</head>
<body>
<div id="header" class="header">
    <nav>
        <ul class="nav">
            <li class="nav"><a class="teamOverzicht" th:href="@{/teams}">Team overzicht</a></li>
            <li class="nav"><a class="spelerOverzicht" th:href="@{/players}">Speler overzicht</a></li>
            <li class="nav"><a class="pouleOverzicht" th:href="@{/poules}">Poule overzicht</a></li>
            <li class="nav"><a class="wedstrijdschema" th:href="@{/games}">Wedstrijdschema</a></li>
            <li class="nav"><a class="login" th:href="@{/logout}">Log in</a></li>
        </ul>
    </nav>
    <img src="./Afbeeldingen/logoNevobo.png" alt="" class="logoNevobo">
</div>
<h1>Overzicht van de wedstrijden</h1>

<div id="all_poules">
    <div th:each="poule: ${allPoules}" >
        <h2 th:text="'Poule ' + ${poule.pouleName}"></h2>
        <div th:id="'poulegames_' + ${poule.pouleName}" class="collapse" data-parent="#all_poules">
            <table>
                <tr>
                    <th>Wedstrijdnummer:</th>
                    <th>Thuis team</th>
                    <th>Gast team</th>
                    <th>Uitslag Wedstrijd</th>
                </tr>
                <tr th:each="game: ${poule.pouleGames}">
                    <td th:text="${game.gameId}"></td>
                    <td th:text="${game.homeTeam.teamName}"></td>
                    <td th:text="${game.visitorTeam.teamName}"></td>
                </tr>
            </table>
        </div>
        <button class="btn btn-primary" data-toggle="collapse"
                th:attr="data-target='#poulegames_' + ${poule.pouleName}">
            Toon/Verberg wedstrijden
        </button>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<!--<div th:include="parts :: footer"></div>-->
<!--<div th:insert="parts :: footer"></div>-->

<footer>
    <p class="quote">Copyright LucetteVincent 2020</p>
</footer>

</body>
</html>