<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <title th:replace="${title}">Base Title</title>

    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" href="/css/volleybalToernooi.css" />
</head>
<body>
<div id="header" class="header" th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="nav" class="navbar-nav mr-auto">
                <li class="nav"><a class="teamOverzicht" th:href="@{/teams}">Team overzicht</a></li>
                <li class="nav"><a class="spelerOverzicht" th:href="@{/players}">Speler overzicht</a></li>
                <li class="nav"><a class="pouleOverzicht" th:href="@{/poules}">Poule overzicht</a></li>
                <li class="nav"><a class="wedstrijdschema" th:href="@{/games}">Wedstrijdschema</a></li>
            </ul>
            <div class="btn-group">
                <a type="button" class="btn-navbar" sec:authorize="isAnonymous()" th:href="@{/login}">Log in</a>
                <button sec:authorize="isAuthenticated()" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span sec:authentication="name"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a type="button" class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/user/new}">Voeg gebruiker toe</a>
                    <div class="dropdown-divider"></div>
                    <a type="button" class="dropdown-item" th:href="@{/logout}">Log uit</a>
                </div>
            </div>
<!--        TODO nice ambition!    -->
<!--            <form class="form-inline my-2 my-lg-0">-->
<!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn-navbar my-2 my-sm-0" type="submit">Search</button>-->
<!--            </form>-->
        </div>

    </nav>

    <img src="images/logo/logoNevobo.png" alt="" class="logoNevobo">
</div>

<footer th:fragment="footer">
    <p class="quote">Copyright LucetteVincent 2020</p>
</footer>

<th:block th:fragment="bottom_scripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</th:block>
</body>
</html>