<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<html lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Team details</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<div class="container">
<h1><span th:text="${player.firstName} + ' ' + ${player.lastName}" /></h1>
    <div class="row justify-content-center">
        <table id="playersDetailsTable" class="table table-striped table-bordered" data-page-length='50' data-order='[[4, "asc"]]'>
            <tr>
                <th>Voornaam</th>
                <td th:text="${player.firstName}" />
            </tr>
            <tr>
                <th>Achternaam</th>
                <td th:text="${player.lastName}" />
            </tr>
            <tr>
                <th>Poule</th>
                <td th:text="${player.team.poule?.pouleName}" />
            </tr>
            <tr>
                <th>Geboortedatum</th>
                <td th:text="${player.birthdate}" />
            </tr>
            <tr>
                <th>Lengte</th>
                <td th:text="${player.height}" />
            </tr>
            <tr>
                <th>Huidige club</th>
                <td th:text="${player.currentClub}" />
            </tr>
            <tr>
                <th>Bondsnummer</th>
                <td th:text="${player.associationRegistrationNumber.toString()}" />
            </tr>
            <tr>
                <th>Positie/Rol</th>
                <td th:text="${player.role.roleName}" />
            </tr>
            <tr>
                <th rowspan="2">Team</th>
                <td th:text="${player.team.teamName}"></td>
            </tr>
            <tr>
                <td><img th:src="'/' + ${player.team.nationalFlag}" width="100%" /></td>
            </tr>
        </table>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/players/change/{playerId}(playerId=${player.playerId})}">Wijzig speler details</a>
    </div>
</div>
<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>
</body>
</html>