<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Speler overzicht</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<h1>Spelers</h1>
    <div id="all_players">
        <div th:each="team: ${allTeams}">
            <h2 th:text="${team.teamName}"></h2>
            <div th:id="'players_' + ${team.teamName}" class="collapse" data-parent="#all_players">
                <table class="dataTable" th:id="'players_' + ${team.teamName}"  data-order='[[1, "desc"]]'>
                    <thead>
                        <tr>
                            <th scope="col">Shirtnr.</th>
                            <th scope="col">Naam</th>
                            <th scope="col">Team</th>
                            <th scope="col">Aantal gespeelde<br>wedstrijden</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="player: ${team.players}">
                            <td th:text="${player.shirtNumber}"></td>
                            <td><a class="clickableName"
                                   th:href="@{/players/{playerName}(playerName=${player.lastName})}"
                                   th:text="${player.lastName}"></a></td>
                            <td th:text="${player.firstName}"></td>
                            <td th:text="${player.nrOfGames}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" data-toggle="collapse" th:attr="data-target='#players_' + ${team.teamName}">
                Toon/Verberg spelers
            </button>
        </div>
    </div>
<p sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/players/add}">Voeg speler toe</a>
</p>

<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('.dataTable').each(function(i) {
            $(this).DataTable( {
                "paging":   false
            });
        });
    } );
</script>

</body>
</html>