<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Speler overzicht</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<h1>Spelers</h1>
    <div id="all_players">
        <div th:each="team: ${allTeams}">
            <h2 th:text="${team.teamName}"></h2>
            <div th:id="'players_' + ${team.teamName}" class="collapse" data-parent="#all_players">
                <table>
                    <tr>
                        <th>Naam</th>
                        <th>Team</th>
                        <th>Aantal gespeelde<br>wedstrijden</th>
                    </tr>
                    <tr th:each="player: ${team.players}">
                        <td><a class="clickableName"
                               th:href="@{/players/{playerName}(playerName=${player.lastName})}"
                               th:text="${player.lastName}" /></td>
                        <td th:text="${player.firstName}"/>
                        <td th:text="${player.nrOfGames}"></td>
                    </tr>
                </table>
            </div>
            <button class="btn btn-primary" data-toggle="collapse" th:attr="data-target='#players_' + ${team.teamName}">
                Toon/Verberg spelers
            </button>
        </div>
    </div>
<p sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/players/add}">Voeg speler toe</a>
</p>

<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>
</body>
</html>