<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/volleybalToernooi.css" />
    <title>Pool overzicht</title>
</head>
<body>
<h1>Overzicht van bestaande Pools</h1>
<h1>Teams</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Naam</th>
        <th># of Teams</th>
    </tr>
    <tr th:each="pool: ${allPools}">
        <td th:text="${pool.poolId}"/>
        <td th:text="${pool.naam}"/>
        <td th:text="${pool.numberOfTeams}"/>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<h1>Maak een nieuwe Pool</h1>
<form th:action="@{/pool/add}" th:object="${pool}" method="post">
    <p>Naam: <input type="text" th:field="*{naam}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<h1>Pools</h1>

<a th:href="@{/pool/add}">Voeg pool toe</a>
</body>
</html>