<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Poule details</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<div class="container">
    <h1>Informatie over poule <span th:text="${poule.pouleName}">poulenaam</span></h1>
    <div class="row justify-content-center">
        <table id="pouleDetailsTable" class="table table-striped table-bordered" data-page-length='50' data-order='[[4, "asc"]]'>
            <tr>
                <th><h3>Team Naam</h3></th>
                <th><h3>Aantal spelers</h3></th>
            </tr>
            <tr th:each="team: ${poule.myTeams}"> <!--TODO on click overview of players of the team -->
                <td><a class="clickableName"
                       th:href="@{/teams/{teamNaam}(teamNaam=${team.teamName})}" th:text="${team.teamName}" /></td>
                <td th:text="${team.nrOfPlayers}"></td>
            </tr>
        </table>
    </div>
    <h1>Wedstrijden <span th:text="${poule.pouleName}">poulenaam</span></h1>
    <div class="row justify-content-center">
        <table id="pouleDetailsGamesTable" class="table table-striped table-bordered" data-page-length='50' data-order='[[4, "asc"]]'>
            <tr>
                <th>Wedstrijdnr.</th>
                <th>Thuis team</th>
                <th>Uit team</th>
                <th colspan="2">Tijd</th>
                <th>Plek</th>
                <th>Uitslag</th>
            </tr>
            <tr th:each="game: ${poule.pouleGames}">
                <td><a class="clickableName" th:href="@{/games/{gameId}(gameId=${game.gameId})}"
                      th:text="${game.gameId}"></a></td>
                <td th:text="${game.homeCompetitor}"></td>
                <td th:text="${game.visitorCompetitor}"></td>
                <td th:text="${#temporals.format(game.time, 'dd-MMM-yyyy')}"></td>
                <td th:text="${#temporals.format(game.time, 'HH:mm')}"></td>
                <td th:text="${game.location}"></td>
                <td th:text="${game.gameResult}"></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>

</body>
</html></title>
</head>
<body>

</body>
</html>