<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Poule overzicht</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<h1>Overzicht van bestaande Poules</h1>
<table>
    <tr>
        <th>Nummer</th>
        <th>Naam</th>
        <th>Aantal Teams</th>
    </tr>
    <tr th:each="poule: ${allPoules}">
        <td th:text="${poule.pouleId}"></td>
        <td><a class="clickableName" th:href="@{/poules/{pouleName}(pouleName=${poule.pouleName})}"
               th:text="'Poule ' + ${poule.pouleName}"></a></td>
        <td th:text="${poule.numberOfTeams}"></td>
    </tr>
</table>
<div class="container">
    <div class="buttonGenerate">
        <a th:href="@{/championship}" role="button" class="btn btn-success btn-lg active" aria-pressed="true">
            Informatie over het te genereren kampioenschap</a>
    </div>
</div>

<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>
</body>
</html>