<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Informatie over te genereren Poules</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<h1>Informatie over het te generen kampioenschap</h1>

<table>
    <tr>
        <td>Aantal Poules</td>
        <td th:text="${numberOfPoules}"></td>
    </tr>
    <tr>
        <td>Aantal Poule Wedstrijden</td>
        <td th:text="${pouleGames}"></td>
    </tr>
    <tr>
        <td>Niveaus van finales</td>
        <td th:text="${levelsOfFinals}"></td>
    </tr>
    <tr>
        <td>Aantal Finale wedstrijden</td>
        <td th:text="${finalGames}"></td>
    </tr>
</table>
<div sec:authorize="hasRole('ADMIN')" class="container">
    <div class="buttonCenter">
        <a th:href="@{/poules/generate/no-really}" class="btn btn-danger btn-lg active" role="button"
           aria-pressed="true">Maak dit kampioenschap</a>
    </div>
</div>

<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>

</body>
</html>