<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<html lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Rol toevoegen</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<div class="container">
    <h1>Voeg een nieuwe rol toe</h1>
    <form th:action="@{/role/add}" th:object="${role}" method="post">
        <div class="form-row">
            <div class="form-group col-md-4"></div>
            <div class="form-group col-md-4">
                <label for="roleName">Rolnaam:</label>
                <input type="text" class="form-control" id="roleName" th:field="*{roleName}"  th:classappend="${not #lists.isEmpty(#fields.errors('roleName'))} ? is-invalid" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Role name Error</div>
            </div>
            <div class="form-group col-md-4"></div>
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="container">
            <div class="buttonCenter">
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </div>
        </div>
    </form>

    <h1>Bestaande rollen</h1>
    <ul class="rolesList" th:each="role : ${existingRoles}">
        <li class="roles" th:text="${role.roleName}">Role name</li>
    </ul>
</div>
<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>
</body>
</html>