<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<html lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Team details</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<div class="container">
    <h1><span th:text="${team.teamName}" /></h1>
    <div class="row justify-content-center">
        <table id="teamDetailsTable" class="table table-striped table-bordered" data-page-length='50' data-order='[[4, "asc"]]'>
            <tr>
                <th><h3>Team naam</h3></th>
            </tr>
            <tr>
                <td th:text="${team.teamName}" />
            </tr>
            <tr>
                <th><h3>Nationale vlag</h3></th>
            </tr>
            <tr>
                <td><img th:src="'/' + ${team.nationalFlag}" width="23" height="15" /></td>
            </tr>
            <tr>
                <th><h3>Poule</h3></th>
            </tr>
            <tr>
                <td th:if="${team.poule != null}" >
                    <a class="clickableName"
                       th:href="@{/poules/{pouleName}(pouleName=${team.poule.pouleName})}"
                       th:text="${team.poule.pouleName}"></a>
                </td>
                <td th:unless="${team.poule != null}">niet beschikbaar</td>
            </tr>
        </table>
    </div>
    <div th:unless="${#lists.isEmpty(team.games)}">
        <h1 th:text="'Wedstrijden voor ' + ${team.teamName}"></h1>
        <table id="gamesTable" class="table table-striped table-bordered">
            <tr>
                <th><h3>Wedstrijdnummer:</h3></th>
                <th><h3>Thuis team</h3></th>
                <th><h3>Gast team</h3></th>
                <th><h3>Start tijd</h3></th>
                <th><h3>Locatie</h3></th>
                <th><h3>Uitslag Wedstrijd</h3></th>
            </tr>
            <tr th:each="game: ${team.games}">
                <td><a class="clickableName" th:href="@{/games/{gameId}(gameId=${game.gameId})}"
                       th:text="${game.gameId}"></a></td>
                <td th:text="${game.homeCompetitor}"></td>
                <td th:text="${game.visitorCompetitor}"></td>
                <td th:text="${#temporals.format(game.time, 'dd-MMM-yyyy HH:mm')}"></td>
                <td th:text="${game.location}"></td>
                <td th:text="${game.gameResult}"></td>
            </tr>
        </table>
    </div>
    <h1>Spelers <span th:text="${team.teamName}">teamnaam</span></h1>
    <div id="all_players">
        <table id="teamDetailsPlayersTable" class="table table-striped table-bordered" data-paging="false">
            <thead>
            <tr>
                <th scope="col"><h3>Shirtnr.</h3></th>
                <th scope="col"><h3>Achternaam</h3></th>
                <th scope="col"><h3>Voornaam</h3></th>
                <th scope="col"><h3>Rol</h3></th>
                <th scope="col"><h3>Lengte (cm)</h3></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player: ${team.players}">
                <td th:text="${player.shirtNumber}"></td>
                <td><a class="clickableName"
                       th:href="@{/players/{playerName}(playerName=${player.lastName})}"
                       th:text="${player.lastName}"></a></td>
                <td th:text="${player.firstName}"></td>
                <td th:text="${player.role.roleName}"></td>
                <td th:text="${player.height}"></td>
            </tr>
            </tbody>
        </table>
        <p sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/teams/change/{teamName}(teamName=${team.teamName})}">Wijzig team details</a>
        </p>
    </div>
</div>
<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#teamDetailsPlayersTable').DataTable();
    });
</script>

</body>
</html>