<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/volleybalToernooi.css" />
    <title>Team overzicht</title>
</head>
<body>
<h1>Teams</h1>
<table>
    <tr>
        <th>Team Naam</th>
        <th>Pool</th>
        <th>Aantal spelers</th>
    </tr>
    <tr th:each="team: ${allTeams}">
        <td><a th:href="@{/team/{teamNaam}(teamNaam=${team.teamNaam})}" th:text="${team.teamNaam}" /></td>
        <td th:text="${team.poule.naam}"/>
        <td th:text="${team.nrOfSpelers}"></td>
        <td><a th:href="@{/lid/add/t/{teamNaam}(teamNama=${team.teamNaam})}">Voeg toe</a></td>
    </tr>
</table>
<p>
    <a th:href="@{/teams/add}">Voeg team toe</a>
</p>
<p>
    <a th:href="@{/pools}">Pool overzicht</a>
</p>
<p sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/user/new}">Voeg gebruiker toe</a>
</p>
<p>
    <a th:href="@{/logout}">Log uit</a>
</p>
</body>
</html>