<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/volleybalToernooi.css" />
    <title>Voeg een nieuw team toe</title>
</head>
<body>
<h1>Voeg een nieuw team toe</h1>
<form th:action="@{/teams/add}" th:object="${team}" method="post">
    <div>
        <label for="teamName">Team naam:</label>
        <input type="text" id="teamName" th:field="*{teamName}" />
        <span class="field-error" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}">Team name Error</span>
    </div>
    <div>
        <label for="nationality">Nationaliteit:</label>
        <input type="text" id="nationality" th:field="*{nationality}" />
        <span class="field-error" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}">Nationality Error</span>
    </div>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>