<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Team overzicht</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<div class="container">
    <h1>Teams</h1>
    <div class="row justify-content-center">
        <table id="teamsTable" class="table table-striped table-bordered" data-page-length='50' data-order='[[4, "asc"]]'>
            <tr>
                <th></th>
                <th>Team Naam</th>
                <th>Poule</th>
                <th>Aantal spelers</th>
            </tr>
            <tr th:each="team: ${allTeams}">
                <td><img th:src="${team.nationalFlag}" width="23" height="15" /></td>
                <td type="button" class="link"><a class="clickableName"
                                                  th:href="@{/teams/{teamName}(teamName=${team.teamName})}"
                                                  th:text="${team.teamName}" /></td>
        <!-- TODO replace null with nicer default       -->
                <td th:text="'Poule ' + ${team.poule?.pouleName}"/>
                <td th:text="${team.nrOfPlayers}"></td>
            </tr>
        </table>
    </div>
    <p sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/teams/add}">Voeg team toe</a>
    </p>
</div>
<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>

</body>
</html>