<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/volleybalToernooi.css" />
    <title>Voeg een nieuw team toe</title>
</head>
<body>
<h1>Voeg een nieuw team toe</h1>
<form th:action="@{/teams/add}" th:object="${team}" method="post">
    <p>Teamnaam: <input type="text" th:field="*{teamNaam}" /></p>
    <p>
        Pool:
        <select th:field="*{pool}">
            <option th:each="pool: ${allPools}" th:value="${pool.poolId}" th:text="${pool.name}"></option>
        </select>
    </p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>