<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:replace="general :: baseHeader(~{::title})">
    <title>Gebruiker toevoegen</title>
</head>
<body>
<div th:replace="general :: navbar"></div>
<h1>Maak een nieuwe gebruiker aan</h1>
<form action="#" th:action="@{/user/new}" th:object="${user}" method="post">
    <div th:if="${#fields.hasErrors()}" class="alert alert-danger alert-dismissible" role="alert">
        Er heeft zich een probleem voorgedaan.
    </div>
    <div class="form-row">
        <div class="form-group col-md-4"></div>
        <div class="form-group col-md-4">
            <label for="username">Gebruikersnaam:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}"
                   th:classappend="${not #lists.isEmpty(#fields.errors('username'))} ? is-invalid" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}">Gebruikersnaam Error</div>
        </div>
        <div class="form-group col-md-4"></div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4"></div>
        <div class="form-group col-md-4">
            <label for="password">Wachtwoord:</label>
            <input type="text" class="form-control" id="password" th:field="*{password}" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}">Wachtwoord Error</div>
        </div>
        <div class="form-group col-md-4"></div>
    </div>
    <div class="container">
        <div class="buttonCenter">
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </div>
    </div>
    <div class="container">
        <div class="buttonCenter">
            <button type="reset" value="Reset" class="btn btn-primary">Reset</button>
        </div>
    </div>
</form>
<div th:replace="general :: footer"></div>
<div th:replace="general :: bottom_scripts"></div>
</body>
</html>